<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.yeyue.bizhi">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.BATTERY_STATS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name="com.jess.arms.base.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppTheme"
        tools:replace="icon,label,theme">
        <activity
            android:name=".ui.activity.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.activity.DetailActivity" />
        <activity android:name=".ui.activity.BannerActivity" />
        <activity android:name=".ui.activity.AlbumDetailActivity" />
        <activity android:name=".ui.activity.DayRecommendActivity" />
        <activity android:name=".ui.activity.CategoryActivity" />
        <activity android:name=".ui.activity.UserActivity" />
        <activity
            android:name=".ui.activity.SearchActivity"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity android:name=".ui.activity.TestActivity" />
        <activity android:name=".ui.activity.SkinActivity" />
        <activity android:name=".ui.activity.SettingActivity" />

        <meta-data
            android:name="com.yeyue.bizhi.app.GlobalConfiguration"
            android:value="ConfigModule" />
        <!-- arms配置 配置顺序有要求，YeConfiguration在前面，才不会覆盖自定义配置 -->

        <activity android:name=".ui.activity.FollowActivity"></activity>
    </application>

</manifest>